/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 *= require foundation-datepicker
 *= require chosen
 */

$include-html-global-classes: false;
@import "foundation/components/global";

.top-bar .name h1 {
  color: white;
  padding-left: 10px;
}
.formtastic {
  li {
    list-style-type: none;
    &.error {
      &+small.error {
        display: inline;
      }
      input {
        border: 2px solid red;
      }
    }
  }
  p.inline-hints {
    font-size: 0.7em;
    margin-top: -10px;
  }

  a.add_nested_fields {
    text-transform: uppercase;
    font-size: 0.7em;
    border: 1px solid $primary-color;
    padding: 4px;
    font-weight: bold;
    color: $primary-color;
    background-color: #DBDBDB;
    float: left;
    clear: left;
    margin: 20px 0px;
  }
  .fields {
    padding: 10px;
    border: 1px solid $secondary-color;
    margin: 10px 10px 0px 0px;
    float: left;
    a.remove_nested_fields {
      text-transform: uppercase;
      font-size: 0.7em;
      border: 1px solid $primary-color;
      padding: 4px;
      font-weight: bold;
      color: red;
      background-color: #DBDBDB;
    }
  }
  label.label {
    background-color: #DBDBDB;
    color: $primary-color;
    font-weight: 300;
    font-size: 0.9em;
    border: 1px solid $primary-color;
    &.error {
      color: red;
      font-weight: bold;
    }
  }
}

.cke {
  margin-bottom: 2rem !important;
}

td {
  p.metadata {
    font-size: 0.7rem;
  }
}