/* jquery-ui overrides */

.ui-dialog {
  z-index:2999;
  background: #fff;
  border: 2px solid #000;
  &.grey {
    background: #f8f6f4;
    &::-webkit-scrollbar-track {
          background-color: #fff;
    } /* the new scrollbar will have a flat appearance with the set background color */
 
  }
}

.ui-dialog-content {
  padding: 0px 25px 30px 25px;
}

.ui-widget-header {
  background: none;
  border: none; 
}

.ui-corner-all {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.ui-button-icon-only .ui-button-text, .ui-button-icons-only .ui-button-text {
  padding: .4em;
  text-indent: -9999999px;
}

.ui-button .ui-button-text {
  display: block;
  line-height: normal;
  cursor: pointer;
}
.ui-draggable .ui-dialog-titlebar {
  cursor: move;
}
.ui-dialog .ui-dialog-titlebar-close {
  position: absolute;
  right: 0px;
  top: 10px;

}
.ui-dialog .ui-dialog-titlebar-close:focus {
  outline: none;
}


.ui-state-default .ui-icon:focus {
  outline: none;
}

/* jquery-ui overrides */

.ui-dialog {

  background-color: #fff;
  border: 2px solid #000;
}

.ui-dialog-content {
  padding: 0px 25px 30px 25px;
}

.ui-widget-header {
  background: none;
  border: none; 
}
.ui-button-icon-only .ui-button-text, .ui-button-icons-only .ui-button-text {
  padding: .4em;
  text-indent: -9999999px;
}

.ui-button .ui-button-text {
  display: block;
  line-height: normal;
  cursor: pointer;
}
.ui-draggable .ui-dialog-titlebar {
  padding: 0px;
  margin: 0px;
  cursor: move;
}
.ui-widget-header .ui-state-default, .ui-widget-header .ui-state-default  {
  background: none;
}

.ui-dialog .ui-dialog-titlebar-close {
  margin: -6px 4px 0px 0px;
}
.ui-dialog .ui-dialog-titlebar-close:focus {
  outline: none;
}

.ui-widget-header .ui-state-default, .ui-widget-header .ui-state-default {
  border: none;
  background: url(x.png);
  font-weight: normal;
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position-x: 5px;
  color: #000;
}
.ui-state-default .ui-icon {
  background-image: url(x.png);
}
.ui-state-default .ui-icon:focus {
  outline: none;
}

.ui-dialog { 
  padding: 0px;
  .ui-dialog-content {
    padding: 0px 10px 0px 20px;
  }
  .ui-dialog-title {
    margin: 0px;
  }
}

// posts
.site_index, .artist_index {
  h3 {
    text-transform: uppercase;
    color: red;
    font-size: 19px;
    line-height: 1.42em;
    margin: 0;
    font-weight: normal;
    font-family: Helvetica, Arial, sans-serif;
  }
  a {
    text-decoration: none;
    color: #4000FF;
  }
  ul.sites, ul.artists {
    padding: 0px;
    font-size: 19px;
    line-height: 1.42em;
    margin: 0px;
    li {
      list-style-type: none;
      font-family: Helvetica, Arial, sans-serif;
    }
  }
}

.site, .artist, #feed {
  h4 {
    text-transform: uppercase;
    color: black;
    margin: 0 0 1.1rem 0;
    font-size: 19px;
    line-height: 1.42em;

    font-weight: normal;
    font-family: Helvetica, Arial, sans-serif;
  }
  ul.residencies {
    padding: 0;
    li {
      list-style-type: none;
      color: black;
      font-size: 19px;
      line-height: 1.42em;
      margin: 0;
      font-weight: normal;
      font-family: Helvetica, Arial, sans-serif;
      .name {
        float: left;
        margin-right: 0.4rem;
      }
      .when {
        color: #999;
      }
    }
  }
  .body {
    font-size: 19px;
    line-height: 1.42em;
    font-family: Helvetica, Arial, sans-serif;
    p {
      margin: 10px 0px 0px 0px;
    }
  }
  a {
    text-decoration: none;
    color: #4000ff;
  }

}
.post {
  border-top: 2px solid #000;
  padding: 20px 0px 0px 0px;
  &.post0 {
    border-top: none;
    padding: 0px;
  }
  .title {
    font-size: 19px;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.42em;
    a {
      text-decoration: none;
    }
  }
  .metadata {
    margin-bottom: 15px;
    font-size: 19px;
    line-height: 1.42em;
    span.byline {
      color: #666;
    }
  }
  .body {
    margin-top: 25px;
    padding-bottom: 25px;
    font-size: 19px;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.42em;
    p {
      margin-bottom: 5px;
    }
  }
}
.page {
  .body {
    font-size: 19px;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.42em;
  }
}


// image slideshow

.slideshow {
  position: relative;
  width: 375px;
  .hidden {
    display: none;
  }
  .slideshow_hover {
    display: none; 
    position: absolute; 
    bottom: 0;

    color: #000;
    background-color: rgba(255, 255,255, 0.9);
    text-align: center;
    font-weight: bold;
    font-size: 19px;
    width: 100%;
    height: 100%;
    .text {
      padding: 25%;
//      border: 2px solid #000;
      text-transform: uppercase;

      font-size: 24px;
      line-height: 1.42em;
     
    }
//    opacity: 0.75;
  }
  
  &:hover {
    .slideshow_hover {
      display: block;
    }
  }
}

// fancybox overrides
.fancybox-opened .fancybox-skin {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -o-box-shadow: none !important;
  background: none !important;
}
.fancybox-skin  {
  border-radius: none !important;
 background: none !important; 
}


@media screen and (max-height: 600px) {
  #frontiers_header img {
    height: auto;
  }
  #inretreat_header img {
    height: auto;
  }
}
@media screen and (min-height: 601px) {
  #frontiers_header img {
    height: 92vH;
  }
  #inretreat_header img {
    height: 92vH;
  }
}  
  
  
#twitter {
  .var-chromeless .tweet {
    padding-left: 0px !important;
  }
}

#feed {
  z-index: 998;
  ul {
    padding: 0px; 
    margin: 0px;
    li {
      list-style-type: none;
      &.tweet, &.feed_post {
        a.twitter_link, a.title_link { 
          float: left;
          font-size: 0.8rem;
        }
        span.date {
          color: #666;
          font-size: 0.7rem;
          padding-left: 0.6rem;
        }
        p, .content, em, strong {
          margin: 0px 0px 1rem 0;
          font-size: 0.7rem;
          line-height: 0.9rem;
          a {
            font-size: 0.7rem;
          }
        }
      }
    }
  }
}