<html>
<head>
<title>Frontiers in Retreat</title>
<style type="text/css">
<!--
-->
</style><link rel="stylesheet" href="/site.css">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<style type="text/css">
body {
	background-color: #222;
}
p {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; color: #111111; line-height: 22px}

a {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; color: #703449; line-height: 22px; font-weight: bold}
h1 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; color: #110011}


</style>
</head>
<body text="#dddddd" link="#dddddd" alink="#dddddd" vlink="#dddddd" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<pre>&nbsp;
</pre>
<center>
  <table width="790" border="0" cellspacing="2" cellpadding="2" bgcolor="#ffffff">
    <tr> 
      <td width="120">&nbsp;&nbsp;</td>
      
    <td width="520" align="center"> 
      <p><b><br>
        <br>
        <br>
        FRONTIERS IN RETREAT</b> – Multidisciplinary Approaches to Ecology in Contemporary Art</td>
      <td width="150">&nbsp;&nbsp;</td>
    </tr>
  
    <tr> 
      <td width="120">&nbsp;&nbsp;</td>
      
    <td width="520" align="left"> 
      <p><b><br>
      </b><em><br>
      This is the temporary website of Frontiers in Retreat project. </em>
<br>&nbsp;
<p><b>INTRODUCTION</b>
<p>
      <strong>Frontiers in Retreat </strong>is a research residency platform that  fosters multidisciplinary dialogue on ecological issues within a new  European network involving artist residencies, art and education  organisations, artists, experts in various disciplines as well as  diverse audiences. &raquo; <a href="http://muistio.tieke.fi/frontiers-concept">More information</a><br>
      <br>
        The project is organised by HIAP – Helsinki International Artist  Programme in partnership with the art organisations Mustarinda, Finland;  Scottish Sculpture Workshop – SSW, Scotland; Interdisciplinary Art Group SERDE, Latvia; Cultural Front – GRAD, Serbia; Centre d'Art i Natura de Farrera, Spain; Skaftfell – Center for Visual Art, Iceland; and Jutempus, Lithuania.  &raquo; <a href="http://muistio.tieke.fi/frontiers-organisations">More information</a>            
      <p>So far we have invited  23 artists to take part in the project  &raquo; <a href="http://muistio.tieke.fi/frontiers-artists">More information</a>
<br>&nbsp;
<p><b>INTRODUCTORY WORKSHOP FOR THE ARTISTS AND PARTNERS</b>
<p>The project Introductory Workshop will take place between 29–31 January 2014 at the HIAP premises on Suomenlinna island.
      <p>Workshop programme:     <a href="http://muistio.tieke.fi/frontiers-january-2014-programme">http://muistio.tieke.fi/frontiers-january-2014-programme</a>
      <p>Please suggest topics for discussion, or write down any practical questions you may have: <a href="http://muistio.tieke.fi/frontiers-january-2014-topics">http://muistio.tieke.fi/frontiers-january-2014-topics</a>      
<br>&nbsp;
<p><b>CONTACT INFORMATION</b>
<p><em></em>Please get in touch with us at info (at) frontiersinretreat.org.
      <br>&nbsp;
<p><b>SUPPORTERS</b> <br>&nbsp;<br>
      <em>Frontiers in Retreat</em> has been funded with support from the EU Culture Programme for the years 2013–2018. The project is also supported by the Ministry of Education, Kone Foundation and Alfred Kordelin Foundation.<br>&nbsp;<br>&nbsp;<br>&nbsp;</td>
      <td width="150">&nbsp;&nbsp;</td>
    </tr>


    <tr> 
      <td colspan="3" align="center"><%= image_tag "logos-new-small.jpg", :width => "620", :height => "55" %><br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;</td>
      
    </tr>

  </table>

<pre>&nbsp;</pre>
</body></html>

